{
  "track": "SIN",
  "year": 2024,
  "_type": "rest-of-field",
  "type": "head-to-head",
  "pipeline": {
    "isolate_module": "render",
    "preview_mode": false,
    "quick_validate_mode": true
  },
  "render": {
    "fps": 30,
    "samples": 32,
    "adaptive_sampling": true,
    "is_shorts_output": true,
    "output": "output.mp4",
    "max_cam_distance": 70,
    "start_buffer_frames": 45,
    "end_buffer_frames": 70
  },
  "drivers": ["NOR", "VER"]
}
